langchain
langchain-openai
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
scikit-learn
plotly
nbformat
ipywidgets
matplotlib
feedparser==6.0.11
langchain_cohere
ragas
datasets
pandas
